{% from "parts/_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block content %}
{{ super() }}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>
				<p>{{tree.name}} <small><a href="{{url_for('edittree', nickname = current_user.nickname, treename = tree.name)}}">Edit</a></small></p>
				{% if tree.description != None %}<small>{{tree.description}}</small> {% endif %}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>{{tree.code_name}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{%- if tree.subscribed_users.count() > 0 %}
			ohhh, this tree has {{tree.subscribed_users.count()}} user{% if tree.subscribed_users.count() > 1 %}s{% endif %} subscribed:
			<ul>
				{%- for ut in tree.subscribed_users %}
					<li>{{ut.subscriber.nickname}}</li>
				{%- endfor %}
			</ul>
			{%- else %}
			nobody subscribed to tree :-(
			{%- endif %}
		</div>
	</div>
</div>
{% endblock content %}
