{% from "parts/_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block content %}
{{ super() }}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>
				<p>{{tree.name}}{% if is_owner %} <small><a href="{{url_for('edittree', nickname = tree.owner.nickname, treename = tree.name)}}">Edit</a></small>{% endif %}</p>
				{% if tree.description != None %}<small>{{tree.description}}</small> {% endif %}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>{{tree.code_name}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			{%- if tree.users|length > 0 %}
			<div class="panel-body">
				ohhh, this tree has {{tree.users|length}} user{% if tree.users|length > 1 %}s{% endif %} subscribed:
			</div>
			<ul class="list-group">
				{%- for su in tree.subs_users if su.user.nickname == current_user.nickname %}
					<li class="list-group-item">You {{su.date_joined.strftime('%Y-%m-%d %H:%M:%S')}}
						<div class="well">
							{% if su.hint %}
								hint: {{su.hint}} (<a href="{{url_for('treehint', nickname = tree.owner.nickname, treename = tree.name)}}">modify it</a>)
							{% else %}
								no hint: <a href="{{url_for('treehint', nickname = tree.owner.nickname, treename = tree.name)}}">add one</a>
							{% endif %}
						</div>
					</li>
				{%- endfor %}
			</ul>

			<ul class="list-group">
				{%- for su in tree.subs_users if su.user.nickname != current_user.nickname %}
					<li class="list-group-item">{{su.user.nickname}} {{su.date_joined.strftime('%Y-%m-%d %H:%M:%S')}}</li>
				{%- endfor %}
			</ul>
			{%- else %}
			<div class="panel-body">
				nobody subscribed to tree :-(
			</div>
			{%- endif %}
		</div>
	</div>
</div>
{% endblock content %}
