{% extends "layout.html" %}

{% block content %}
<div>
	hello {{current_user.nickname}}<br>
	{% if current_user.last_last_login %}
	<p><i>Last login on: {{current_user.last_last_login}}</i></p>
	{% else %}
	<p><i>You're new ! Welcome !</i></p>
	{% endif %}

	{% if current_user.trees.count() > 0 %}
	ohhh, you got {{current_user.trees.count()}} tree{% if current_user.trees.count() > 1 %}s{% endif %}:
	<ul>
		{% for tree in current_user.trees %}
			<li><a href="{{url_for('tree', nickname = current_user.nickname, treename = tree.name)}}">{{tree.name}}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	ain't got no trees
	{% endif %}
	<br><br><a href="{{url_for('newtree')}}">create new tree</a><br>

</div>
{% endblock %}
