{% extends "layout.html" %}

{% block content -%}
{{ super() }}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>hello {{current_user.nickname}}</h1>
			<p><em>
				{% if current_user.last_last_login -%}
				Last login on: {{current_user.last_last_login}}
				{%- else %}
				You're new ! Welcome !
				{%- endif %}
			</em></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{%- if current_user.owned_trees.count() > 0 %}
			ohhh, you have created {{current_user.owned_trees.count()}} tree{% if current_user.owned_trees.count() > 1 %}s{% endif %}:
			<ul>
				{%- for tree in current_user.owned_trees %}
					<li><a href="{{url_for('tree', nickname = current_user.nickname, treename = tree.name)}}">{{tree.name}}</a></li>
				{%- endfor %}
			</ul>
			{%- else %}
			you have created no tree :-(
			{%- endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="{{url_for('newtree')}}">create new tree</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{%- if current_user.subscribed_trees.count() > 0 %}
			ohhh, you have subscribed to {{current_user.subscribed_trees.count()}} tree{% if current_user.subscribed_trees.count() > 1 %}s{% endif %}:
			<ul>
				{%- for tree in current_user.subscribed_trees %}
					<li><a href="{{url_for('tree', nickname = tree.owner.nickname, treename = tree.name)}}">{{tree.name}}</a></li>
				{%- endfor %}
			</ul>
			{%- else %}
			you haven't subscribed to no tree
			{%- endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="{{url_for('subscribetotree')}}">subscribe to a tree</a>
		</div>
	</div>
</div>
{%- endblock content %}
