{% extends "layout.html" %}

{% block content -%}
{{ super() }}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>hello {{current_user.nickname}}</h1>
			<p><em>
				{% if current_user.last_last_login -%}
				Last login on: {{current_user.last_last_login.strftime('%Y-%m-%d %H:%M:%S')}}
				{%- else %}
				You're new ! Welcome !
				{%- endif %}
			</em></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				{%- if current_user.all_trees|length > 0 %}
				<div class="panel-body">
					ohhh, you participate in {{current_user.all_trees|length}} tree{% if current_user.all_trees|length > 1 %}s{% endif %}:
				</div>
				<ul class="list-group">
					{%- for tree in current_user.all_trees %}
						<li class="list-group-item"><a href="{{url_for('tree', nickname = tree.owner.nickname, treename = tree.name)}}">{{tree.name}}</a>{% if tree.owned %} <span class="label label-primary">Owner</span>{% endif %}</li>
					{%- endfor %}
				</ul>
				{%- else %}
				<div class="panel-body">
					you participate in no tree
				</div>
				{%- endif %}
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<a href="{{url_for('newtree')}}">create a tree</a>
		</div>
		<div class="col-md-2">
			<a href="{{url_for('subscribetotree')}}">subscribe to an existing tree</a>
		</div>
	</div>

</div>
{%- endblock content %}
